:root{

    --background:#F7F5F2;
    --surface:#FFFCF8;

    --primary:#1F2937;
    --secondary:#6B7280;

    --emerald:#0F766E;
    --gold:#D4AF37;

    --success:#16A34A;
    --warning:#EA580C;
    --danger:#DC2626;

    --border:#E5E7EB;

    --radius-lg:20px;
    --radius-xl:28px;

}